body {
	color: #444;
	background-color: #fff;
}

a {
	text-decoration: none;
}

a.widelink { display: block; }

h3 {
	border-bottom: 6px double #444;
}

h3:before {
	background-image: url("/img/checkerflag.png");
	background-size: 30px;
	background-repeat: no-repeat;
	content: "　 ";
}

h4 {
	border-bottom: 3px dotted #444;
}

label, input[type='checkbox'] {
	cursor: pointer;
}

footer {
	font-size: 20px;
	color: #e8e8e8;
	background-color: #383838;
}

footer a:link { color: #7070f8; }
footer a:visited { color: #7070f8; }
footer a:active { color: #7070f8; }

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	color: #444;
}

.odds_header {
	font-size: 20px;
	color: #e8e8e8;
	background-color: #383838;
	background-image: url("/img/enjoyodds_bg.png?v=1");
	background-size: 370px;
	background-position: left 0px bottom 0px;
	background-repeat: no-repeat;
}

.odds_header a:link { color: #e8e8e8; }
.odds_header a:visited { color: #e8e8e8; }
.odds_header a:active { color: #e8e8e8; }

.odds_number {
	color: #444;
	background-color: #f8f8f8;
}

.odds_textcolor {
	color: #444;
}

.odds_value {
	padding: 8px 12px;
}

.odds_bet {
	margin: 0px;
	padding: 0px;
}

.odds_ticket {
	margin: 4px;
	padding: 8px 24px;
	background-color: #eefeee;
	background-image: url("/img/ticket.png");
	background-repeat: repeat;
	background-position: 25px 0px;
}

.odds_win_ticket {
	margin: 4px;
	padding: 8px 24px;
   animation: blinkAnime 1s infinite alternate;
}

@keyframes blinkAnime {
   0%{ color : #333; background:#ffffee; background-image: url("/img/ticket.png"); background-repeat: repeat; background-position: 25px 0px; }
 100%{ color : #333; background:#eefeee; background-image: url("/img/ticket.png"); background-repeat: repeat; background-position: 25px 0px; }
}

.odds_tips {
	font-size: 0.6rem;
	margin: 0px;
	padding: 0px;
}

.odds_checker {
	background: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%),
		linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%);
	background-color: #e8e8e8;
	background-size: 12px 12px;
	background-position: 0 0, 6px 6px;
}

.odds_left_padding32
{
	padding-left: 32px;
}

.odds_right_padding32
{
	padding-right: 32px;
}

.odds_vertical_rect
{
	white-space: pre;
	writing-mode: vertical-rl;
	display: inline-block;
	width: 20px;
}

@media only screen and (max-width : 768px){
	.odds_header {
		font-size: 16px;
		color: #e8e8e8;
		background-color: #333;
	}
	.odds_left_padding32
	{
		padding-left: 0px;
	}
	.odds_right_padding32
	{
		padding-right: 0px;
	}
}
