a {
	text-decoration: none;
}

h3 {
	border-bottom: 6px double #000;
}

h4 {
	border-bottom: 3px dotted #000;
}

.odds_header {
	font-size: 20px;
	color: #fff;
	background-color: #000;
}

.odds_header a:link { color: #fff; }
.odds_header a:visited { color: #fff; }
.odds_header a:active { color: #fff; }

.odds_ticket {
	margin: 4px;
	padding: 8px 24px;
	background-color: #eefeee;
}

.odds_win_ticket {
	margin: 4px;
	padding: 8px 24px;
  animation: blinkAnime 1s infinite alternate;
}

@keyframes blinkAnime {
   0%{ color : black; background:#ffffee }
 100%{ color : black; background:#eefeee }
}
